<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>Портфолио</h3>
                <p>Мои достижения и проекты.</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-vk"></i></a>
                    <a href="https://t.me/Id1vlad1"><i class="fab fa-telegram"></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Навигация</h3>
                <ul class="footer-links">
                    <li><a href="#home">Главная</a></li>
                    <li><a href="#about">Обо мне</a></li>
                    <li><a href="#gallery">Галерея</a></li>
                    <li><a href="#certificates">Сертификаты</a></li>
                    <li><a href="#works">Мои работы</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Контакты</h3>
                <ul class="footer-links">
                    <li><i class="fas fa-envelope"></i> vlad.kutolin@bk.ru</li>
                    <li><i class="fas fa-phone"></i> +7 (999) 166-39-38</li>
                    <li><i class="fas fa-map-marker-alt"></i> Россия, Благовещенск</li>
                </ul>
            </div>
        </div>
        <div class="copyright">&copy; 2025 Владислав</div>
    </div>
</footer>

<button class="scroll-to-top" id="scrollToTop"><i class="fas fa-chevron-up"></i></button>