<section class="hero animate-on-scroll" id="home">
    <div class="container hero-content">
        <div class="hero-text">
            <h1 class="neon-text">Привет, я <span>Владислав</span><br>Студент и будущий специалист</h1>
            <p>Я учусь на Администратора баз данных и активно развиваюсь в IT-сфере.</p>
            <div class="typing-container">
                <h3>Моя цель: <span class="typing-text" id="typingText"></span><span class="cursor">|</span></h3>
            </div>
            <a href="#about" class="btn">Узнать больше</a>
        </div>
        <div class="hero-image"><img src="{{ avatar }}" class="profile-img" alt="Аватар"></div>
    </div>
</section>